@model DemoExercise.Models.UserViewModel

@{
    ViewData["Title"] = "LoginPassword";
}

<h1>Login - Password</h1>

@using (Html.BeginForm("LoginPassword", "Home", FormMethod.Post))
{
    <div class="form-group text-center">

        <div>
            <label class="font-weight-bold">Username: </label>
            @Html.DisplayFor(model => model.Username)
            @Html.HiddenFor(model => model.Username)
        </div>

        <div>
            <label class="font-weight-bold">Password: </label>
            @Html.TextBoxFor(model => model.Password)
        </div>

        <div>
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>

    </div>
}